

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}


<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>

@{
    ViewBag.Title = "E-Learning System";
    Layout = "_ManageClassLayout.cshtml";
}

<body class="ManageClassStyle">

@using (Html.BeginForm())
{
    
    <div class="row text-left">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h2 class="header">Manage Class</h2>
        </div>

        <div class="col-md-1">
            <button class="btn homeBtn" name="action" value="home">Home</button>
        </div>
        <div class="col-md-1">
            <button class="btn backBtn" name="action" value="back">Back</button>

        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col-xs-2 col-md-4"></div>
        <div class="col-xs-8 col-md-4">
            <button class="btn actionBtn" name="action" value="regclass">Register Class</button>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>

    <div class="row text-center">
        <div class="col-xs-2 col-md-4"></div>
        <div class="col-xs-8 col-md-4">
            <button class="btn actionBtn" name="action" value="genattendance">Generate Attendance List</button>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>

    <div class ="row text-center">
        <div class="col-xs-2 col-md-4"></div>
        <div class ="col-xs-8 col-md-4">
            <button class ="btn actionBtn" name="action" value="genstudent">Generate Student List</button> 
        </div>
        <div class ="col-xs-2 col-md-4"></div>
    </div>

    <div class="row text-center">
        <div class="col-xs-2 col-md-4"></div>
        <div class="col-xs-8 col-md-4">
            <button class="btn actionBtn" name="action" value="removestudent">Remove Student</button>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>

}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>

